*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background: linear-gradient(90deg,#e92f77,#a63878,#8f3b79, #733f79);
    color: #525252;
}
#login-form-container{
    background-color: #ffff;
    height: 60vh;
    width: 60vw;
    margin: 150px auto;
    border-radius: 8px;
}

#login-form-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}
.input-box{
min-width: 200px;
width: 300px;
background-color: #fafafa;
border: none;
border: 1px solid #ededed;
height: 50px;
padding-left: 10px;
}
.input-box:focus{
    outline: 1px solid #ededed;
}

#password-message{
    color: red;
    display: none;
}
#email-message{
    color: red;
    display: none;
}

#login-btn{
cursor: pointer;
background-color: #3868cd;
color: #fff;
width: 100px;
height: 50px;
border-radius:8px;
border: none;
transition: 0.150ms ease-in-out;
}
#login-btn:hover{
background-color: blueviolet;
}
#register-link{
    color: #3868cd;
    text-decoration: none;
}
#register-link:hover{
    color: blueviolet;
    font-weight: 500;
}
#label-password{
    position: relative;
}
.fa-solid{
    position: absolute;
    top: 2.5rem;
    right: 1rem;
    cursor: pointer;
}
#eyeSlash{
    display: none;
}

@media screen and (max-width:612px) {
    
    .input-box{
        min-width: 100px;
        width: 250px;
        height: 40px;
    }
    .fa-solid{
        /* position: absolute; */
        top: 2.4rem;
        right: 1rem;
    }
}

@media screen and (max-width:590px) {
    
    .input-box{
        min-width: 100px;
        width: 200px;
        height: 40px;
    }
    .fa-solid{
        /* position: absolute; */
        top: 2.3rem;
        right: 1rem;
    }
    #login-form-container{
        height: 50vh;
    }
    h1{
        font-size: 20px;
    }
    label{
        font-size: small;
    }
    .text{
        font-size: small;
    }
    
}
@media screen and (max-width:494px){
    #login-form-container{
        width: 90vw;
    }
}