* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.hangman-container {
  max-width: 98%;
  width: 100%;
  background-color: #ffffff;
  margin: 0 auto;
  height: 100%;
  display: grid;
  grid-template-areas:
    "word word word man man"
    "word word word man man"
    "keyboard keyboard keyboard keyboard keyboard"
    "keyboard keyboard keyboard keyboard keyboard";
  grid-gap: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.hangman-container .wordBox {
  grid-area: word;
  /* background-color: aquamarine; */
  background-color: red;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.hangman-container .wordBox #wordText{
  font-size: 64px;
}

.hangman-container .manBox {
  grid-area: man;
  background-color: blanchedalmond;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  font-size: 40px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}
.hangman-container .manBox .vertical-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hangman-container .manBox .horizantal-bar{
position: absolute;
left: 10rem;
/* top: 2rem; */
}
.hangman-container .manBox .rope{
  position: absolute;
  top: 4rem;
  left: 10.4rem;
}
.hangman-container .manBox .head{
position: absolute;
top: 0;
left: 9.8rem;
top: 7rem;
display: none;
}
.hangman-container .manBox .left-hand{
  position: absolute;
  /* top: 0; */
  left: 9rem;
  top: 9rem;
  display: none;
}
.hangman-container .manBox .right-hand{
  position: absolute;
  left: 12rem;
  top: 9rem;
  display: none;
}
.hangman-container .manBox .body{
  position: absolute;
  top:10rem;
  left: 10.5rem;
  display: none;
}
.hangman-container .manBox .left-leg{
position: absolute;
top: 0;
top:13rem;
left: 10rem;
display: none;
}
.hangman-container .manBox .right-leg{
  position: absolute;
top: 0;
top:13rem;
left: 11rem;
display: none;
}
.hangman-container .keyboard {
  grid-area: keyboard;
  background-color: aquamarine;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: repeat(9,1fr);
  gap:1rem;

}
.hangman-container .keyboard button{
  border: none;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}
.hangman-container .keyboard #message{
  width: 90vw;
  /* background-color: aliceblue; */
  display: flex;
  color: rgb(160, 50, 100);
  align-items: center;
  justify-content: center;
  display: none;
  padding: 20px;
  font-size: 48px;
}
.hangman-container .keyboard #message form{
  width: 200px;
  height: 40px;
  background-color: #a03264;
  font-size: 18px;
  color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: 0.555s ease-in-out;
}
.hangman-container .keyboard #message form #restart-form{
  background-color: transparent;
  border: none;
  color: aquamarine;
}
.hangman-container .keyboard #message form:hover{
  transform: scale(1.05);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

